[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain-pinecone = "*"
langchain = "*"
langchain-ollama = "*"
langchainhub = "*"
black = "*"
langchain-community = "*"

[dev-packages]

[requires]
python_version = "3.13"
